<nav></nav>
<banner></banner>

<ion-content [fullscreen]="false">
  <div id="container" style="align-content:center">
    <ion-grid>
      <ion-row class="ion-justify-content-center" >
        <ion-col size="6" *ngFor="let product of products">
          <ion-row>
            <ion-col>
              <countdown class="countdown" [config]="{ leftTime: 30000000 }"></countdown>
            </ion-col>
            <ion-col>
              <img class="fire" src="../assets/Fire.gif" *ngIf="product.Product.ProductInventory < 10" />
            </ion-col>
            <ion-col>
              <img class="clock" src="../assets/Watch.png"/>
            </ion-col>
          </ion-row>
          <img class="getaway" src="{{product.Product.Asset}}" (click)="openProductModelPage(product.Product.ID)" />
          <ion-grid no-padding>
            <ion-row class="ion-justify-content-center">
              <h2 style="font-weight: 300; font-size: 21px !important;">{{product.Product.Name}}</h2>
            </ion-row>
            <ion-row class="ion-justify-content-center" style="margin-top:-20px;">
              <h3 [ngClass]="{'inventory-text': product.Product.ProductInventory < 10  }" style="font-weight: 400; font-size: 12px !important;">{{product.Product.ProductInventory}} Remaining</h3>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div> 
  <app-explore-container name="Special Offers"></app-explore-container>
</ion-content>
