p {
  font-size: 10px;
}
.getaway {
  width: 100%;
}

.cruise {
  width: 100%;
}

.inventory-text {
  color: red !important;
 font-size: 28px;
 color: #fff;
 font-family:'text';
 margin-top: -10px;
}

.countdown {
  color: #6976EC !important;
  font-size: 30px;
}
